<div style="margin-top: 40px">
</div>
<div class="ui container">
    <form>
        <div class="ui form">
            <div class="inline fields">
                <div class="eight wide field">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="name">
                </div>
                <div class="four wide field">
                    <input type="file" name="image" fileread="image">
                </div>
                <button class="ui button" ng-click="submit()">Submit</button>
            </div>
        </div>
    </form>
    <div class="ui horizontal divider">
        Your Response Will Be Shown Below
    </div>
    <div ng-if="response_success">
        <div class="ui card">
            <div class="image">
                <img src="data:image/jpeg;base64, {{response.image}}">
            </div>
            <div class="content">
                <a class="header">{{response.username}}</a>
                <div class="description">
                    Hey {{response.username}}, thanks for submitting!
                </div>
            </div>
        </div>
    </div>
</div>
